body{
    background-color: rgb(32, 160, 160);
}
.one{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10%;
    padding: 10px;
    background-color: rgb(236, 231, 231);
}
.two{
    margin: 10px 20px 30px;
    padding: 10px;
    background-color: rgb(230, 224, 224)
}
.three{
    margin: 10px 20px 30px;
    padding: 10px;
    background-color: rgb(235, 228, 228);
}
.label{
    margin-left: 60px;
}
.div{
    margin-top: 20%;
    margin-left: 40%;
}
.o{
    margin-left: 60px;
}
.pass{
    margin-left: 60px;
}
.four{
    margin-left: 60px;
    margin-bottom: 5%;
    background-color: blue;
}
div.div2{
    background-color: blue;
    height: 50%;
    width: 22%;
    margin-left: 55.8%;
    margin-top: -17.1%;
}
.h1{
    margin-top: 0%;
    margin-left: 30%;
    padding: 30% 10% 30%;
}
.div{
    background-color: rgb(255, 255, 255);
    margin-left: 40%;
   
    width: 300px;
    
    
}