
.ul-list{
    background-color: chocolate;
    height: 250px;
    width: 200px;
    padding-left: 30px;
    padding-top: 60px;
    color: azure;
    
}
.ul-list ul li{
    margin-top: 6%;
}
.side-bar{
    background-color: azure;
    height: 210px;
    width: 500px;
    padding-left: 50px;
    padding-top: 100px;
    text-align: center;
}
.full-section{
    display: inline-flex;
    padding-left: 8.5%;
    padding-top: 20%;
}
.gradient{
    margin-right: 20%;
    margin-left: 30%;
    margin-top: 10%;
    height: 70vh; 
    background-image: linear-gradient(rgb(62, 6, 83), rgb(226, 10, 172));

} 